:root {
	--white1: #f1f1f1;
	--white2: #f2f5f7;
	--gray1: #ccc;
	--gray2: #9799a6;
	--gray3: #324c64;
	--red: #ff8080;
	--violet: #ad85bf;
	--ligthblue1: #0099ff;
	--ligthblue2: #5e9edc;
	--green1: #00cc99;
	--green2: #4dba7a;
	--black: #000;
	--fuente: Arial, Helvetica, sans-serif;
  }

.app {
    background: var(--white1);
    font-family: var(--fuente);
    display: grid;
    /*definimos las areas a utilizar en el grid*/
    grid-template-areas: 
    "encabezado"
    "contenido"
    "rodapie";
    /*definimos la distrubucion de las areas*/
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto; 
}

.encabezado {
    grid-area: encabezado;
    align-items: center;
    display: flex;
    padding: 0 2rem;
}

.menu__link{
    color: #333333;
    padding: .5rem 1rem;
}

.menu__link:hover, .menu__link:active {
    border-bottom: 2px solid #0073e6;
}

.contenido {
    grid-area: contenido;
    padding: 0 2rem;
}

.rodapie { 
    grid-area: rodapie;
    background: #fdfdfd;
    color: #333333;
    padding: 1rem;
    text-align: center;
}